

button {
  margin-left: 10px;
  background-color: rgb(82, 70, 245); 
  color: white;
  border-radius: 10px;
}

.delete_company {
  text-align: center;
}

img {
  border-radius: 20px
}

.all_pages {
  text-align: center;
  margin: 50px auto;
}

input {
  border-radius: 10px;
}

.players_list{
  column-span: all;

}

.players_list_box {
  border: 1px solid black;
  width: 50%;
  margin: 0px auto;
  min-width: 375px;
}

body {
  font-family: 'Graduate';font-size: 22px;
}



